.section {
    margin: auto 10px;
}

.section__header {
    padding: 25px;
    font-size: 25px;
    font-weight: 700;
    border-bottom: 2px solid rgb(214, 214, 214);
    background-color: white;
    margin: 0;
}

.section__header--list {
    border-top: 10px solid rgb(214, 214, 214);
    font-size: 23px;
}